#upperDiv {
	display: flex;
}

.btn {
	flex: 1;
	height: 6%;
	align-self: center;
	margin: 2%;
	font-size: 16px;
	padding: 5px;
}

#mainDiv {
	flex: 40;
	height: 100vh;
}

.horRow {
	border: 2px solid black;
}

#myInput {
	flex: 10;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 20px;
	margin: 20px;
	font-size: 20px;
	padding: 5px 5px 5px 15px;
	outline: none;
	background-color: #e1eedd;
	color: #3e54ac;
}

#myInput::placeholder {
	color: #b0b8d8;
	font-weight: lighter;
}

#resultingDiv {
	text-align: left;
	padding: 5px;
	height: 75%;
	background-color: #655dbb;
	border: 2px solid black;
	border-radius: 0px 0px 20px 20px;
	margin: 10px;
}
